[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
requests = "*"
faker = "*"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
flask-pymongo = "*"
flask-mail = "*"
flask-restful = "*"
webargs = "*"
pyjwt = "*"
flask-cors = "*"
flask-socketio = "*"
eventlet = "*"

[requires]
python_version = "3.7"
