<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试SocketIO</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css">
</head>
<body>
    <div class="container" id="app">

        <h1>SocketIO</h1>
        
        <div class="input-group mb-3">
            <input v-model="message" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button v-on:click="postMsg" class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
        <div class="jumbotron">
            <div v-for="rep in rspmsg">
                <p>{{rep}}</p>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
    <script>
    let vm = new Vue({
        el: '#app',
        data () {
            return {
                rspmsg: [],
                message: "",

            }
        },
        methods: {
            postMsg () {
                (function() {
                    var socket = io.connect('http://192.168.1.106:8000');
                    socket.on('connect', function() { // 发送到服务器的通信内容
                        // socket.emit('connect_event', {data: '我已连接上服务端！'});
                        // 提交消息
                    });
                    socket.on('server_response', function(msg) {
                        console.log('server_response',msg.data)
                    });
                    socket.on('user_response', function(msg) {
                        console.log('user_response',msg.data)        
                    })
                })()
            }
        },
        mounted() {
            socket.on('connect', function() { // 发送到服务器的通信内容
                // socket.emit('connect_event', {data: '我已连接上服务端！'});
                // 链接初始化
            });
        },
    })
    
    </script>

</body>
</html>