<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试Index页面</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <style>
        .form-control:focus {
            box-shadow: none;
        }

        .form-control {
            border-radius: 0rem;
        }

        h2 {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    </style>
</head>

<body>

    <div class="container" id="app">
        <h2>Ediot</h2>

        <form>
            <div class="input-group mb-3">
                <input v-model="title" type="text" placeholder="Title" class="form-control" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input v-model="category" type="text" placeholder="Category" class="form-control" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="form-group">
                <textarea v-model="body" class="form-control" placeholder="Text" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">评论权限</label>
                </div>
                <select v-model="selected" class="custom-select" id="inputGroupSelect01">

                    <option value="on">开放评论</option>
                    <option value="review">审核后显示</option>
                    <option value="off">禁止评论</option>
                </select>
            </div>

            <button v-on:click="postArticle" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script>
        let vm = new Vue({
            el: "#app",
            data() {
                return {
                    post: {}, // []
                    selected: "on",
                    title: "",
                    category: "",
                    body: "",
                    comments: []
                }
            },
            methods: {
                postArticle() {
                    data = {
                        title: this.title,
                        category: this.category,
                        body: this.body,
                        type_comment: this.selected
                    }
                    axios({
                        method: 'post',
                        url: 'http://192.168.1.106:8000/post',
                        data: data,
                        headers: {
                            "Authorization": "JWT " + localStorage.getItem("token")
                        }
                    }).then(resp => {
                        console.log(resp["data"])
                    })
                    .catch((e) => {
                        console.log(e)
                    })
                }
            },
            mounted: function () {

            },
        })
    </script>
</body>

</html>