<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试Index页面</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <style>
  .form-control:focus {
    box-shadow: none;
}
.form-control {
    border-radius: 0rem;
}
h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
    </style>
</head>
<body>

    <div class="container">
    <nav class="navbar justify-content-between">
            <a class="navbar-brand">Navbar</a>
            <div class="form-inline">
                <a class="nav-item nav-link active" href="./index.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="./login.html">Login</a>
                <a class="nav-item nav-link" href="./signup.html">Signup</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
            </nav>
        
        <div class="main col-9" id="app">
            <p>{{ post.title}}</p>
            <p>{{ post.body}}</p>
            <p>{{ post.category}}</p>
            <p>{{ post.author}}</p>

            <h2>评论区</h2>
            <div v-for="com in comments">
                <p>{{com.username }}</p>
                <p>{{ com.body }}</p>
                
            </div> 
            
            <div class="input-group mb-3">
        
                    <textarea v-model="text" class="form-control" aria-label="With textarea" placeholder="Comment"></textarea>
                </div>
                <button v-on:click="postComment" type="button" class="btn btn-primary">Submit</button>

        </div>
    </div>

    <script>
    
    new Vue({
        el: "#app",
        data () {
            return {
            post: {}, // []
            text: "",
            comments: []
            }
        },
        methods: {
            postComment () {
                data = {
                    body: this.text,
                    post_id: "5d5bbb3b23d315c352139036"
                }
                axios({
                        method: 'post',
                        url: 'http://192.168.1.106:8000/comment',
                        data: data,
                        headers: {
                            "Authorization": "JWT " + localStorage.getItem("token")
                        }
                    }).then(resp => {
                        // console.log(resp["data"])
                    })
                    .catch((e) => {
                        console.log(e.response)
                    })
                
            }
        },
        mounted : function () {

            axios.get('http://192.168.1.106:8000/post/5d5bbb3b23d315c352139036')
                .then(resp => 
                    {
                        this.post = resp["data"]
                        this.comments = resp["data"]["comment"]
                    console.log(resp["data"])
                    }
                )
                .catch((e) => {
                    console.log(e.response.data)
                })
        },
    })

    </script>
</body>
</html>