<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试Index页面</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <style>
  .form-control:focus {
    box-shadow: none;
}
.form-control {
    border-radius: 0rem;
}
h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
    </style>
</head>
<body>

    <div class="container" id="app">
        <h2>Sigup</h2>
        <div class="input-group mb-3">
            <input v-model="username" type="text" placeholder="Username" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input v-model="email" type="text" placeholder="Email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input v-model="password" type="text" placeholder="Password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input v-model="confim_password" type="text" placeholder="Confim Password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button v-on:click="postUser" type="submit" class="btn btn-primary">Submit</button>

    </div>

    <script>
    
    let vm = new Vue({
        el: "#app",
        data () {
            return {
            post: {}, // []
            username: "古美门",
            email: "nxgh240@foxmail.com",
            password: "password",
            confim_password: "password",
            comments: []
            }
        },
        methods: {
            postUser () {
                data = {
                username: this.username,
                email: this.email,
                password: this.password,
            }
            axios.post('http://192.168.1.106:8000/user', data=data)
                .then(resp => 
                    {
                        // this.post = resp["data"]
                        // this.comments = resp["data"]["comments"]
                    console.log('success')
                    }
                )
                .catch((e) => {
                    console.log(e)
                })
            },
        },
        mounted : function () {
  
        },
    })

    </script>
</body>
</html>